<form class="" action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"></p>
  <p>
    Titles:
    <%Title.all.each do |title|%>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"<%='checked' if @figure.titles.include?(title) %>><%=title.name%></input>
    <%end%>
</p>
<p>
  Or create a new title:
  <br></br>
  <p>Title name: <input type="text" name="title[name]" id="new_title"></p>

  <p>
    Landmarks:
    <%Landmark.all.each do |landmark|%>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
    <%end%>
</p>
<p>
  Or create a new landmark:
  <br></br>
  <p>Landmark name: <input type="text" name="landmark[name]" id="new_landmark"></p>

  <button type="submit">Edit Figure</button>
</form>
